* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: sans-serif;
  
}

form {
  max-width: 300px;
  margin: 20px auto;
  background-color: #ccc;
  padding: 15px;
  border-radius: 5px;
}

label, input{
  width: 100%;
  margin-bottom: 10px;
}

input{
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input[type=submit] {
  width: auto;
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

h1, h2, p {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  
 
  border-radius: 5px;
}

.error {
  color: red;
  font-style: italic;
}


#html-checker {
  
  
  
}
.box {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid green;
  border-radius: 4px;
  background-color: #e9ffe9;
}
