*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#ccc;
}
form{
  width: 500px;
  margin: 30px auto;
  background-color:whitesmoke;
}
form ul{
  list-style: none;
  margin-bottom: 10px;
  margin-left: 5px;
}
label{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

h1{
  text-align: center;
  margin-top: 20px;
}
fieldset{
  padding: 10px;

}
input[type=email],
input[type=tell],
input[type=text]{
  width: 100%;
  margin-bottom: 10px;
}
span{
  display: block;
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}
select{
  margin-bottom: 8px;
}
textarea{
  width: 100%;
  resize: none;
  height: 80px;
  margin-bottom: 8px;
}
