/* styles for my currency form*/


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:darkgray;
}
form{
 
  max-width: 400px;
  margin:20px auto;
  background-color: cadetblue;
}
fieldset{
padding: 10px;

}
label{
  display: block;
  padding: 5px;
  font-weight: bold;
}
input[type=text],
input[type=email],
input[type=number]{
width: 100%;
height: 30px;
margin-bottom: 10px;
}
input[type=submit] {
  margin-bottom: 10px;
  background-color: blue;
  color: white;

  height: 30px;
  width: 20%;
  border: none;
  cursor: pointer;
  display:block;
  margin-top: 5px;
}

form ul{
  margin-bottom:10px;
  list-style: none;
}
.box {
  border: 2px solid #4CAF50;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  width: 60%;
  margin-left: 70px;
}

.box h2 {
  color: #4CAF50;
}

.box p {
  font-size: 16px;
  color: #666;
}

.error{
  color: red;
  font-style: italic;
  text-align: center;
}
.video-container {
  max-width: 600px;          /* Set a maximum width for the video container */
  width: 100%;               /* Make it full width */
  margin: 20px auto;        /* Center the container horizontally */
  display: flex;             /* Use flexbox to align content */
  justify-content: center;   /* Center the iframe within the container */
}

.video-container iframe {
  width: 100%;               /* Make the iframe responsive */
  height: 340px;            /* Set a specific height for the video */
}
.h{
  text-align: center;
}

